{% extends 'base.html' %}

{% block content %}
{% for category in categories %}
    <h3>{{ category.name }}</h3>
    <div class="row">
        {% for product in category.product_set.all %}
        <div class="col-md-4 mb-4">
            <div class="card">
                <img src="{{ product.image.url }}" class="card-img-top">
                <div class="card-body">
                    <h5>{{ product.name }}</h5>
                    <p>{{ product.price }} TMT</p>
                    <a href="{% url 'product_detail' product.pk %}" class="btn btn-primary">Synap gör</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
{% endfor %}
{% endblock %}